
.gallery {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.galleryBox {
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin: 1dvw 1dvw;
    position: relative;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid white;
    height: 30vw;
    box-sizing: border-box;
}

.galleryImage {
    width:100%;
    height: calc(0.5625*width);
    position: relative;
}

.centredText {
    width:96vw;
    font-size: 4rem;
    font-weight: bold;
    background-color: black;
    color: white;
    height: 100%;
    text-align: center;
    align-items: center;
}