.mainContainer {
    position: absolute;
    left:2vw;
    top:4vw;
    height: 90vh;
    border: 2px solid black;
    width: 96vw;
}
.liveFeed {
    background-color: black;
    color:white;
    border: 2px solid #333;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}