body {
    display: inline;
    margin: 0;
    background-color: white;
    max-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.mainContainer {
    position: absolute;
    left:2vw;
    top:4vw;
    height: 90vh;
    border: 2px solid black;
    width: 96vw;
}
.navBarIndexLeft {
    position: absolute;
    top:0;
    width: 4vw;
    height: 4vw;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navBarIndexRight {
    position: absolute;
    top:0;
    right:0;
    width: 4vw;
    height: 4vw;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.switchPageButton {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    font-weight: bold;
    cursor: pointer;
}
.navBar {
    position: absolute;
    top:0;
    left: 4vw;
    height: 4vw;
    width: 92vw;
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
}
.navBar button {
    width: 16vw;
    font-weight: bold;
}
button:hover {
    cursor:pointer;
}

.placeholderText {
    color: white;
    position: absolute;
    z-index: 1;
}

